
html, body, code,kbd,pre,samp, select, pre, code,kbd,tt,var, .storefront-cute * {
    font-family: "Comic Sans MS", "Comic Sans", cursive !important;
}

.width-10 {
    width: 10%!important;
}

.width-20 {
    width: 20%!important;
}

.width-30 {
    width: 30%!important;
}

.width-40 {
    width: 40%!important;
}

.width-50 {
    width: 50%!important;
}

.width-60 {
    width: 60%!important;
}

.width-70 {
    width: 70%!important;
}

.width-80 {
    width: 80%!important;
}

.width-90 {
    width: 90%!important;
}

.width-100 {
    width: 100%!important;
}

.width-110 {
    width: 110%!important;
}

.margin-bottom-10 {
    margin-bottom: calc( 10% / 3 )!important;
}

.margin-bottom-20 {
    margin-bottom: calc( 20% / 3 )!important;
}

.margin-bottom-30 {
    margin-bottom: calc( 30% / 3 )!important;
}

.margin-bottom-40 {
    margin-bottom: calc( 40% / 3 )!important;
}

.margin-bottom-50 {
    margin-bottom: calc( 50% / 3 )!important;
}

.margin-bottom-60 {
    margin-bottom: calc( 60% / 3 )!important;
}

.margin-bottom-70 {
    margin-bottom: calc( 70% / 3 )!important;
}

.margin-bottom-80 {
    margin-bottom: calc( 80% / 3 )!important;
}

.margin-bottom-90 {
    margin-bottom: calc( 90% / 3 )!important;
}

.margin-bottom-100 {
    margin-bottom: calc( 100% / 3 )!important;
}

.margin-bottom-110 {
    margin-bottom: calc( 110% / 3 )!important;
}


.background-color-10 {
     background-color: #FF0000!important;
     color: #0000FF!important;
}

.background-color-20 {
     background-color:  #800000!important;
     color: #800080!important;
}

.background-color-30 {
    background-color: #FFFF00!important;
    color: #0000FF!important;
}

.background-color-40 {
    background-color: #808000!important;
    color: #008080!important;
}

.background-color-50 {
     background-color: #808000!important;
     color:  #00FFFF!important;
}

.background-color-60 {
     background-color: #00FFFF!important;
     color: #008000!important;
}

.background-color-70 {
     background-color: #008080!important;
     color: #00FF00!important;
}

.background-color-80 {
     background-color: #0000FF!important;
     color: #808000!important;
}

.background-color-90 {
     background-color: #000080!important;
     color: #FFFF00!important;
}

.background-color-100 {
     background-color:  #FF00FF!important;
     color: #800000!important;
}

.background-color-110 {
     background-color: #800080!important;
     color:  #FF0000!important;
}
